<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CentralControl</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <filter>
    <description>字符编码过滤器</description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.aust.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>访问控制</description>
    <filter-name>VisitFilter</filter-name>
    <filter-class>com.aust.filter.VisitFilter</filter-class>
  </filter>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.aust.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemServlet</display-name>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.aust.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessionServlet</display-name>
    <servlet-name>ProfessionServlet</servlet-name>
    <servlet-class>com.aust.servlet.ProfessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessionServlet</servlet-name>
    <url-pattern>/ProfessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorityServlet</display-name>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>com.aust.servlet.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/AuthorityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.aust.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.aust.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobtransferServlet</display-name>
    <servlet-name>JobtransferServlet</servlet-name>
    <servlet-class>com.aust.servlet.JobtransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobtransferServlet</servlet-name>
    <url-pattern>/JobtransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceServlet</display-name>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>com.aust.servlet.DeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServlet</display-name>
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>com.aust.servlet.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/SupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputServlet</display-name>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>com.aust.servlet.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/InputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutputServlet</display-name>
    <servlet-name>OutputServlet</servlet-name>
    <servlet-class>com.aust.servlet.OutputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputServlet</servlet-name>
    <url-pattern>/OutputServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintenanceServlet</display-name>
    <servlet-name>MaintenanceServlet</servlet-name>
    <servlet-class>com.aust.servlet.MaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceServlet</servlet-name>
    <url-pattern>/MaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaintenanceplanServlet</display-name>
    <servlet-name>MaintenanceplanServlet</servlet-name>
    <servlet-class>com.aust.servlet.MaintenanceplanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceplanServlet</servlet-name>
    <url-pattern>/MaintenanceplanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InspectionServlet</display-name>
    <servlet-name>InspectionServlet</servlet-name>
    <servlet-class>com.aust.servlet.InspectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InspectionServlet</servlet-name>
    <url-pattern>/InspectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InspectionplanServlet</display-name>
    <servlet-name>InspectionplanServlet</servlet-name>
    <servlet-class>com.aust.servlet.InspectionplanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InspectionplanServlet</servlet-name>
    <url-pattern>/InspectionplanServlet</url-pattern>
  </servlet-mapping>
</web-app>